<!-- .row -->
<div class="row padding-bottom20">

    <div class="col-sm-6 col-md-7 col-lg-7 margin-bottom20">
        <div>
            <div class="post-heading-left">
                <h2><strong>AUDI A6</strong></h2>
                <p>Элегантный и статусный немецкий автомобиль</p>
            </div>
            <p>Притягивающий взгляды в любом автомобильном потоке красавец сделает любое ваше путешествие не только полезным но и исключительно комфортным</p>
            <div class="list-icon no-margin-bottom">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Кожаный салон</li>
                    <li><i class="fa fa-check-square-o"></i> Климат контроль</li>
                    <li><i class="fa fa-check-square-o"></i> 3 человека вместимость</li>
                    <li><i class="fa fa-check-square-o"></i> Украшение на выбор</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-5 col-lg-5 margin-bottom40 padding-top20">
        <figure><img src="images/cars/audi/main.png" alt="Image"></figure>
        <div class="text-center"><a href="images/cars/audi/main.png" class="btn btn-primary audi-album">Фотогалерея автомобиля</a></div>
        {% loop_directory directory:images/cars/bmw/album iterator:image filter:*.jpg sort:descending %}
        <a class="audi-album" href="images/cars/audi/album/{{ image }}.jpg" style="display: none;" /></a>
        {% endloop_directory %}
    </div>

</div>
<!-- .row end -->