<!-- #buynow -->
<div id="buynow" class="bg-image wrap-container80 text-center">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center margin-bottom30">
            <h2>Вы всё ещё сомневаетесь?</h2>
        </div>
        <p class="margin-bottom50">Закажите свадебный автомобиль премиум класса на 6 и более часов и мы украсим его абсолютно бесплатно</p>
        <a href="#" class="btn-custom btn-large btn-icon-first">Заказать автомобиль</a>

    </div>
    <!-- .container end -->

</div>
<!-- #buynow -->