<!-- #counter -->
<div id="counter" class="bg-grey wrap-container6020">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row row-counter">

            <div class="col-sm-4"> <!-- 1 -->
                <div class="affa_counter_text">
                    <h4>10000</h4>
                    <p>километров</p>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
                <div class="affa_counter_text">
                    <h4>350</h4>
                    <p>довольных клиентов</p>
                </div>
            </div>

            <div class="col-sm-3"> <!-- 4 -->
                <div class="affa_counter_text">
                    <h4>120</h4>
                    <p>счастливых пар</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #counter end -->