<!-- #features2 -->
<div id="features2" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Украсьте автомобили вашего кортежа</h2>
            <p>Чтобы ваше торжество резко выделялось из металлического месива унылых городских пробок</p>
        </div>

        <!-- .row -->
        <div class="row">
            {% for i in (1..12) %}
            <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
                <a class="decorations" href="images/decorations/bmw/big/{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/decorations/bmw/{{ i }}.jpg"/></a>
            </div>
            {% endfor %}
            {% for i in (1..6) %}
            <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
                <a class="decorations" href="images/decorations/audi/big/{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/decorations/audi/{{ i }}.jpg"/></a>
            </div>
            {% endfor %}
            {% for i in (1..6) %}
            <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
                <a class="decorations" href="images/decorations/chrysler/big/{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/decorations/chrysler/{{ i }}.jpg"/></a>
            </div>
            {% endfor %}
        </div>
        <!-- .row end -->


    </div>
    <!-- .container end -->

</div>
<!-- #features2 end -->