<!-- .row -->
<div class="row padding-bottom20">
    <div class="col-sm-6 col-md-7 col-lg-7 margin-bottom20">
        <div>
            <div class="post-heading-left">
                <h2><strong>Chrysler 300 new</strong></h2>
                <p>Легенда американского автопрома</p>
            </div>
            <p>Chrysler 300C - это образ жизни, сочетающий в себе бескомпромиссную роскошь, феноменальную скорость и безупречный стиль</p>
            <div class="list-icon no-margin-bottom">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Кожаный салон</li>
                    <li><i class="fa fa-check-square-o"></i> Панорамная крыша</li>
                    <li><i class="fa fa-check-square-o"></i> 5 мест</li>
                    <li><i class="fa fa-check-square-o"></i> Люк</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-5 margin-bottom20" style="padding-top: 40px;text-align: center">
        <figure><img src="images/cars/chrysler/main.png" alt="Image"></figure>
        <button class="btn btn-lg btn-primary">Заказ: {{page.phone}}</button>
    </div>
</div>
<!-- .row end -->