<!-- #features2 -->
<div id="features2" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Украсьте автомобили вашего кортежа</h2>
            <p>Чтобы ваше торжество резко выделялось из металлического месива унылых городских пробок</p>
        </div>

        <!-- .row -->
        <div class="row">
            <div class="col-sm-2"> <!-- 1 -->
                <a class="group1" href="images/decorations/big/1.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/1.jpg"/></a>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <a class="group1" href="images/decorations/big/3.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/3.jpg"/></a>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <a class="group1" href="images/decorations/big/5.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/5.jpg"/></a>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <a class="group1" href="images/decorations/big/6.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/6.jpg"/></a>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/8.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/11.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/15.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/17.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/19.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/23.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/26.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/28.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/30.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/31.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/32.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/34.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/35.jpg"/>
            </div>
            <div class="col-sm-2"> <!-- 1 -->
                <img class="img-responsive" style="margin-bottom:10px;"  src="images/decorations/36.jpg"/>
            </div>
        </div>
        <!-- .row end -->


    </div>
    <!-- .container end -->

</div>
<!-- #features2 end -->