<nav id="navigation" class="navbar">

  <!-- .container -->
  <div class="container">

    <div class="navbar-brand">
      <div style="color: #761c19;padding-top: 0px;text-align: center;font-family: 'Lobster', cursive;font-size: 2.0em;">Auto Premium Group</div>
      <div style="font-size: 1.2em;color: #666;margin-top: 15px;">+7 (927) 4000-103, +7 (927) 0-4444-02</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#features" class="smooth-scroll">Автомобили</a></li>
      <li><a href="#pricing" class="smooth-scroll">Цены</a></li>
      <li><a href="#testimonials">Отзывы</a></li>
      <li class="menu-btn"><a href="#buynow">Акция!</a></li>
    </ul>

  </div>
  <!-- .container end -->

</nav>
<!-- #navigation end -->

<!-- #header -->
<header id="header">

  <!-- .header-container -->
  <div class="header-container">

    <!-- .container -->
    <div class="container">

      <div class="header-logo">
        <div style="font-size: 2.0em;">+7 (937) 299-01-57</div>
      </div>

      <div class="header-heading-title">
        <h1 style="padding: 0px;margin: 0px;font-size: 3.0em!important;">Автомобили премиум класса на свадьбу</h1>
        <h4 style="padding: 10px 0px 0px 0px;margin: 0px;">Набережные Челны, Нижнекамск, Елабуга и прочие города закамья</h4>
      </div>

      <!-- .row -->
      <div class="row">

        <div class="col-sm-7 col-md-8">
          <div id="owl-demo" class="owl-carousel owl-theme">

            <div class="item"><img src="images/main/11.png"></div>
            <div class="item"><img src="images/main/2.jpg"></div>
            <div class="item"><img src="images/main/3.jpg"></div>
            <div class="item"><iframe src="https://player.vimeo.com/video/72649460?color=df6f05" width="100%" height="440" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

          </div>
        </div>

        <div class="col-sm-5 col-md-4">
          <div class="header-form-wrapper">
            <div class="header-form-heading">
              <h4>Узнать подробности</h4>
              <p>Заполните эту форму и мы свяжемся с вами в ближайшее время</p>
            </div>
            <form method="post" action="http://www.kazuals.ru/autoprokat.php" class="header-form affa-form-signup">
              <div class="submit-status"></div> <!-- submit status -->
              <input type="text" name="email" id="header_form_email" placeholder="Email" />
              <input type="text" name="phone" id="header_form_phone" placeholder="Телефон" />
              <textarea name="message" id="header_form_message" placeholder="Сообщение"></textarea>
              <input type="submit" name="submit" value="Отправить заявку" class="btn-medium" />
            </form>
          </div>
        </div>

      </div>
      <!-- .row end -->

    </div>
    <!-- .container end -->

  </div>
  <!-- .header-container end -->

</header>
<!-- #header end -->
