<nav id="navigation" class="navbar">

  <!-- .container -->
  <div class="container">

    <div class="navbar-brand">
      <a href="index.html"><img src='{{ "/images/design/logo.png.min.css" | prepend: site.baseurl }}' alt="Logo" /></a> <!-- site logo -->
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#header" class="smooth-scroll">Home</a></li>
      <li><a href="#features" class="smooth-scroll">Features</a></li>
      <li><a href="#pricing" class="smooth-scroll">Pricing</a></li>
      <li><a href="page.html">Page</a></li>
      <li class="menu-btn"><a href="#">Download App</a></li>
    </ul>

  </div>
  <!-- .container end -->

</nav>
<!-- #navigation end -->

<!-- #header -->
<header id="header">

  <!-- .header-container -->
  <div class="header-container">

    <!-- .container -->
    <div class="container">

      <div class="header-logo">
        <a href="index.html"><img src="images/logo_header.png" alt="Logo" /></a>
      </div>

      <div class="header-heading-title">
        <h1>The Perfect Landing Page to Convert Visitors Become Customers</h1>
        <h4>Suits best for any kind of startups and local business.</h4>
      </div>

      <!-- .row -->
      <div class="row">

        <div class="col-sm-7 col-md-8">
          <figure class="header-video" style="background-image:url('images/content/landing/header-video-cover.jpg');">
            <div class="header-video-overlay">
              <a href="https://www.youtube.com/embed/4ZawV1mXlS8?autoplay=1" class="btn-play-video fancybox-media" title="Play Video">Play</a>
            </div>
          </figure>
        </div>

        <div class="col-sm-5 col-md-4">
          <div class="header-form-wrapper">
            <div class="header-form-heading">
              <h4><i class="fa fa-pencil"></i> Get in Touch</h4>
              <p>Please complete the form below and we will get back to you ASAP!</p>
            </div>
            <form method="post" action="#" class="header-form affa-form-signup">
              <div class="submit-status"></div> <!-- submit status -->
              <input type="text" name="name" id="header_form_name" placeholder="Full Name" />
              <input type="text" name="email" id="header_form_email" placeholder="Email Address (*)" />
              <input type="text" name="phone" id="header_form_phone" placeholder="Phone Number" />
              <textarea name="message" id="header_form_message" placeholder="Message (*)"></textarea>
              <input type="submit" name="submit" value="Sign-up Now!" class="btn-medium" />
              <p class="text-desc"><a href="#">Privacy Policy</a> &nbsp;-&nbsp; <a href="#">Terms & Conditions</a></p>
            </form>
          </div>
        </div>

      </div>
      <!-- .row end -->

    </div>
    <!-- .container end -->

  </div>
  <!-- .header-container end -->

</header>
<!-- #header end -->
