<nav id="navigation" class="navbar">

  <!-- .container -->
  <div class="container">

    <div class="navbar-brand">
      <div style="font-size: 1.5em;color: #666;">+7 (937) 299-01-57</div>
      <div style="color: #761c19;padding-top: 5px;text-align: center">Auto Premium Group</div>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="#features" class="smooth-scroll">Автомобили</a></li>
      <li><a href="#pricing" class="smooth-scroll">Цены</a></li>
      <li><a href="#testimonials">Отзывы</a></li>
      <li class="menu-btn"><a href="#buynow">Акция!</a></li>
    </ul>

  </div>
  <!-- .container end -->

</nav>
<!-- #navigation end -->

<!-- #header -->
<header id="header">

  <!-- .header-container -->
  <div class="header-container">

    <!-- .container -->
    <div class="container">

      <div class="header-logo">
        <div style="font-size: 2.0em;">+7 (937) 299-01-57</div>
      </div>

      <div class="header-heading-title">
        <h1>Автомобили премиум класса на свадьбу</h1>
        <h4>Набережные Челны, Нижнекамск, Елабуга и прочие города закамья</h4>
      </div>

      <!-- .row -->
      <div class="row">

        <div class="col-sm-7 col-md-8">
          <iframe src="//vk.com/video_ext.php?oid=-50310635&id=165953142&hash=787a95efc14d778b&hd=2" width="100%" height="540" frameborder="0"></iframe>
        </div>

        <div class="col-sm-5 col-md-4">
          <div class="header-form-wrapper">
            <div class="header-form-heading">
              <h4>Узнать подробности</h4>
              <p>Заполните эту форму и мы свяжемся с вами в ближайшее время</p>
            </div>
            <form method="post" action="#" class="header-form affa-form-signup">
              <div class="submit-status"></div> <!-- submit status -->
              <input type="text" name="name" id="header_form_name" placeholder="Ваше имя" />
              <input type="text" name="email" id="header_form_email" placeholder="Email" />
              <input type="text" name="phone" id="header_form_phone" placeholder="Телефон" />
              <textarea name="message" id="header_form_message" placeholder="Сообщение"></textarea>
              <input type="submit" name="submit" value="Отправить заявку" class="btn-medium" />
            </form>
          </div>
        </div>

      </div>
      <!-- .row end -->

    </div>
    <!-- .container end -->

  </div>
  <!-- .header-container end -->

</header>
<!-- #header end -->
