<!-- #testimonials -->
<div id="testimonials" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Не доверяете нашим словам?</h2>
            <p>Послушайте что говорят довольные клиенты</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-4"> <!-- 1 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text">
                        <p>Заказывал свадебный кортеж в автопремиум групп. Остался доволен как слон, машины отличные, водители вежливые и терпеливые. Везут куда скажут без лишних разговоров, что в наше время редкость. Рекомендую</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="https://randomuser.me/api/portraits/men/44.jpg" alt="Avatar" />
                        <h4>Евгений Замалиев</h4>
                        <p>Инженер-проектировщик</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text">
                        <p>Спасибо ребятам (и девчатам :) из данного автопроката за отличное настроение, которое вы создали своей работой. Главный день в моей жизни получился волшебным и незабываемым в том числе благодаря вам</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="https://randomuser.me/api/portraits/women/7.jpg" alt="Avatar" />
                        <h4>Елена Тяньшина</h4>
                        <p>Домохозяйка</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text">
                        <p>Как-то должен был прилететь к нам партнёр. Дядя весьма статусный и соответствующе требовательный. В итоге, нам повезло что мы нашли автопремиум. Встреча и проводы прошли на высшем уровне</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="Avatar" />
                        <h4>Даниил Макеев</h4>
                        <p>Предприниматель</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #testimonials end -->