<!-- #testimonials -->
<div id="testimonials" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Не доверяете нашим словам?</h2>
            <p>Послушайте что говорят довольные клиенты</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-4"> <!-- 1 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text" style="height: 145px;">
                        <p>Большое спасибо Вам за участие в нашем чудесном дне! Стиль, комфорт, презентабельность - это, безусловно, мог предоставить только КРАЙСЛЕР!!!))) Отдельное спасибо за оформление! Наша тема была воплощена в полной мере)))</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="images/testimonials/1.jpg" alt="Avatar" />
                        <h4>Анна Комарских</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 2 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text">
                        <p>ОГРОМНОЕ СПАСИБО за красавицу машину, за оригинальное оформление кортежа, за великолепное вождение, атмосферу праздника и в тоже время комфорта и уюта, за то, что помогли сделать этот день для нас восхитительным и незабываемым!!!))))))))</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="images/testimonials/2.png" alt="Avatar" />
                        <h4>Денис Бурмистров</h4>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
                <div class="affa_testimonial">
                    <div class="affa_testimonial_text">
                        <p>Прекрасный автомобиль, которому, на наш взгляд, на данный момент нет конкурентов, исходя из соотношения цена-эффект! Автомобиль, благодаря которому лучший день в нашей жизни стал еще красивее!!! Также конечно же следует отметить водителя он настоящий профессионал!)))</p>
                    </div>
                    <div class="affa_testimonial_name">
                        <img src="images/testimonials/3.png" alt="Avatar" />
                        <h4>Наталья Сидоренко</h4>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</div>
<!-- #testimonials end -->