<nav id="navigation" class="navbar">

    <!-- .container -->
    <div class="container">

        <div class="navbar-brand">
            <div><a style="color: #761c19;padding-top: 0px;text-align: center;font-family: 'Lobster', cursive;font-size: 2.0em;" href="/">Auto Premium Group</a></div>
            <div style="font-size: 1.2em;color: #666;margin-top: 15px;">{{page.phone}}</div>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="#features" class="smooth-scroll">Автомобили</a></li>
            <li><a href="#pricing" class="smooth-scroll">Цены</a></li>
            <li><a href="#testimonials">Отзывы</a></li>
            <li class="menu-btn"><a href="#buynow">Акция!</a></li>
        </ul>

    </div>
    <!-- .container end -->

</nav>