<!-- .row -->
<div class="row padding-bottom20">
    <div class="col-sm-6 col-md-7 col-lg-7 margin-bottom20">
        <div>
            <div class="post-heading-left">
                <h2><strong>BMW 5 серии</strong></h2>
                <p>Роскошный и комфортный немецкий автомобиль</p>
            </div>
            <p>Пожалуй, единственные 3 буквы, вызывающие исключительно восторг и восхищение. Одно из главных чудес немецкого автопрома, подчёркивающее важность и статусность вашего события</p>
            <div class="list-icon no-margin-bottom">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Кожаный салон</li>
                    <li><i class="fa fa-check-square-o"></i> Климат контроль</li>
                    <li><i class="fa fa-check-square-o"></i> 5 мест</li>
                    <li><i class="fa fa-check-square-o"></i> Украшение на выбор</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-5 margin-bottom20" style="padding-top: 40px;text-align: center">
        <figure><img src="images/cars/bmw/main.png" alt="Image"></figure>
        <button class="btn btn-lg btn-primary">Заказ: {{page.phone}}</button>
    </div>
</div>
<!-- .row end -->