<!-- #features2 -->
<div id="features2" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Как может выглядеть ваш свадебный автомобиль AUDI Q7</h2>
            <p>Несколько фотографии предлагаемых автомобилей Ауди Q7 с прошедших мероприятий</p>
        </div>

        {% for i in (1..6) %}
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;">
            <a class="decorations" href="images/cars/q7/album/{{ i }}.jpeg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/q7/album/th/{{ i }}.jpg"/></a>
        </div>
        {% endfor %}
    </div>
    <!-- .container end -->

</div>
<!-- #features2 end -->