<!-- #pricing -->
<div id="pricing" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Наши цены</h2>
            <p>Без звёздочек. Без сюрпризов. Всё честно.</p>
        </div>

        <div class="tbl-pricing tbl-prc-recommended">
            <div class="row">
                <div class="col-sm-6 col-md-offset-3"> <!-- 2 -->
                    <div class="tbl-prc-col">
                        <h4 class="tbl-prc-heading">AUDI Q7</h4>
                        <div class="tbl-prc-price">
                            <h5>от 1500 Р</h5>
                            <p>в час</p>
                        </div>
                        <ul class="tbl-prc-list">
                            <li>Белый внедорожник</li>
                            <li>Кожаный салон</li>
                            <li>4 человека вместимость</li>
                            <li><strong style="font-size: 1.5em;">+7 (927) 0-4444-02</strong></li>
                        </ul>
                        <!--<div class="tbl-prc-footer">
                            <a href="#" class="btn-custom">Заказать</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- .container end -->

</div>
<!-- #pricing end -->