<!-- .row -->
<div class="row padding-bottom20">

    <div class="col-sm-6 col-md-5 margin-bottom20" style="text-align: center">
        <figure><img src="images/cars/q7/main.jpeg" alt="Image"></figure>
        <button class="btn btn-lg btn-primary">Заказ: +7 (927) 0-4444-02</button>
    </div>

    <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom20">
        <div>
            <div class="post-heading-left">
                <h2><strong>AUDI Q7</strong></h2>
                <p>Роскошный и комфортный немецкий внедорожник</p>
            </div>
            <p>Одно из главных чудес немецкого автопрома, подчёркивающее важность и статусность вашего события</p>
            <div class="list-icon no-margin-bottom">
                <ul>
                    <li><i class="fa fa-check-square-o"></i>Кожаный салон</li>
                    <li><i class="fa fa-check-square-o"></i>Климат контроль</li>
                    <li><i class="fa fa-check-square-o"></i>5 мест</li>
                    <li><i class="fa fa-check-square-o"></i>Украшение на выбор</li>
                </ul>
            </div>
        </div>
    </div>



</div>
<!-- .row end -->