<!-- .row -->
<div class="row padding-bottom20">

    <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom20">
        <div>
            <div class="post-heading-left">
                <h2><strong>Chrysler 200 cabrio</strong></h2>
                <p>эксклюзивный кабриолет</p>
            </div>
            <p>Кабриолет на свадьбу  - это стиль, роскошь и праздник! Кабриолет  - автомобиль, заставляющий публику приходить в молчаливый восторг. Прокат нового эксклюзивного кабриолета Chrysler 200 cabrio - отличный выбор для любого торжества, который подарит Вам море незабываемых эмоций и ощущений от поездки. Ваша прогулка на Кабриолете  будет в центре всеобщего внимания!!!</p>
            <div class="list-icon no-margin-bottom">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Кожаный салон</li>
                    <li><i class="fa fa-check-square-o"></i> Климат контроль</li>
                    <li><i class="fa fa-check-square-o"></i> 4 места</li>
                    <li><i class="fa fa-check-square-o"></i> Украшение на выбор</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 margin-bottom40 padding-top20">
        <figure><img src="images/cars/chrysler_cabrio/main.png" alt="Image"></figure>
        <div class="text-center" style="padding-top: 20px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chrysler-cabrio-modal">
                Фото автомобиля
            </button>
        </div>
    </div>

</div>
<!-- .row end -->