<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- #features -->
    <div id="features" class="bg-grey padding-top60 no-border-top">

      <!-- .container -->
      <div class="container">

        <div class="post-heading-center">
          <h2>Роскошные, статусные автомобили</h2>
          <p>украсят любое ваше торжество</p>
        </div>

        {% include cars/bmw.html %}
        {% include cars/audi.html %}
        {% include cars/chrysler.html %}

      </div>
      <!-- .container end -->

    </div>
    <!-- #features end -->

    {% include decorations.html %}
    {% include counters.html %}
    {% include pricing.html %}
    {% include buynow.html %}
    {% include testimonials.html %}

    {% include footer.html %}

    {% include modal/audi.html %}
    {% include modal/bmw.html %}
    {% include modal/chrysler.html %}

  </body>

</html>
