<!-- #buynow -->
<div id="buynow" class="bg-image wrap-container80 text-center">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center margin-bottom20">
            <h2>Вы всё ещё сомневаетесь?</h2>
        </div>
        <p class="margin-bottom50">Закажите свадебный автомобиль AUDI премиум класса в апреле и мае и получите скидку 20%</p>
        <!--<a href="#" class="btn-custom btn-large btn-icon-first">Заказать автомобиль</a>-->
        <div style="font-size: 3.0em;">+7 (927) 0-4444-02</div>

    </div>
    <!-- .container end -->

</div>
<!-- #buynow -->