<!-- #features2 -->
<div id="features2" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
            <h2>Как может выглядеть ваш свадебный автомобиль AUDI</h2>
            <p>Несколько фотографии предлагаемых автомобилей Ауди с прошедших мероприятий</p>
        </div>

        <!-- .row -->
        <!--<div class="row">
            {% for i in (1..9) %}
            <div class="col-sm-2" style="height: 133px;overflow-y: hidden;">
                <a class="decorations" href="images/cars/audi/album/0{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/0{{ i }}.jpg"/></a>
            </div>
            {% endfor %}
            {% for i in (10..34) %}
            <div class="col-sm-2" style="height: 133px;overflow-y: hidden;">
                <a class="decorations" href="images/cars/audi/album/{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/{{ i }}.jpg"/></a>
            </div>
            {% endfor %}
        </div>-->

        <!-- .row end -->
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
            <a class="decorations" href="images/cars/audi/album/14.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/14.jpg"/></a>
        </div>
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
            <a class="decorations" href="images/cars/audi/album/17.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/17.jpg"/></a>
        </div>
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
            <a class="decorations" href="images/cars/audi/album/18.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/18.jpg"/></a>
        </div>
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
            <a class="decorations" href="images/cars/audi/album/19.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/19.jpg"/></a>
        </div>
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;"> <!-- 1 -->
            <a class="decorations" href="images/cars/audi/album/20.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/20.jpg"/></a>
        </div>
        {% for i in (28..34) %}
        <div class="col-sm-2" style="height: 133px;overflow-y: hidden;">
            <a class="decorations" href="images/cars/audi/album/{{ i }}.jpg" title="Украшение на автомобиль"><img class="img-responsive" style="margin-bottom:10px;width: 200px;"  src="images/cars/audi/album/{{ i }}.jpg"/></a>
        </div>
        {% endfor %}
    </div>
    <!-- .container end -->

</div>
<!-- #features2 end -->